@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1563517609182'); /* IE9 */
  src: url('iconfont.eot?t=1563517609182#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK4AAsAAAAABoQAAAJrAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBDIEjATYCJAMICwYABCAFhG0HNBvNBRHVi3+yLw54E3PVYDo/H5oAf4qLiDSRoJ+D52u/13N39yOqIKlMJCGqTFQUU1vbiWtZyLJrHYEEEvplxlp9Nghlbs61m6xREWok36JHX0jKgyxPAeAT907/BPogrXfe5TLGoLEmTeoCjAMpoL0xiqxIIm8Yu+AFPoYAbpIoQKprm7txYrBXCSDLC3MTOAthDIblnAj2hoMGOceGUx2o18BZ9H35S6E4QWHT2A3tszXTlP8Ydwr0urU+HBBEQEDHbYAGCgAD0t2YbkUjjNO404Y0OFatwI9xywpcyFHtCPvr7GovAAlQ8UxKT/Wo4goAA6MhB6iedA1orzfYu3c9b992v3/f++FDXyzLy6AUXjxyeGc9hjdveo7ub8Tp1q3b1lp7fa3WHGkg89uygm7qV6801N7EMqjBq9pSpbtV1S9t8e9QDoD1Xt/T5QggMG57uzoWKN7pMQB86tu6S4LWe8MwLzjP4hH4W8qBPcZQ205lNGVjXpGDvosmN27AAvvDfJ9qid1aXnASu0Gvg8QMGicZpGELYMNDEew4KYObfOqOe4iwgkaMC8hjB0AI8hgKP0+gCfKGNOw32IjzH3aCouGmVyIXesgSL6ojoxZ0YP4Q7TKT6xYV197Qv4vmvDrivZD3GIOxG8q5K87IS2zZP34SISBeKlzAc1jKAisvCa10QWQ99D01vamzS20UR0Yt6MD8IdplpmCwqMrnb+jfRXNHV13yhbzH8WHshgHk1TAP6nqUV/aPn0QIiJcKFzAPS1lgbZ6X0EoXJiTXQ+/0o6GGbntT/btDgBvbqsSZpFGzevZOpxjYmwYA') format('woff2'),
  url('iconfont.woff?t=1563517609182') format('woff'),
  url('iconfont.ttf?t=1563517609182') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1563517609182#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfangdajing:before {
  content: "\e660";
}

